:root {
    --pro-color: #c39953;
    --pro-color-hover: #af8a4b;
    --medium-color: #757575;
    --medium-color-hover: #6a6868;
    --low-color: #a57164;
    --low-color-hover: #8e6156;
    --no-color: #aaa;
    --no-color-hover: #888;
  }